@import '/webjars/bootstrap/3.1.1/less/bootstrap.less';

[ng-cloak], .ng-cloack {
  display: none !important;
}

.profil {
  background-color: lighten(lightgrey, 10%);
  border-radius: 20px;
  padding: 5px 20px 20px 20px;
}

.text-center {
  img {
    margin: 0 auto;
  }
}