[ng-cloak], .ng-cloack {
  display: none !important;
}

.profil {
  background-color: lighten(lightgrey, 10%);
  border-radius: 20px;
  padding: 5px 20px 20px 20px;
}

.text-center {
  img {
    margin: 0 auto;
  }
}

body {
  padding-top: 210px;
}

.navbar {
  height: 190px;

  .navbar-brand {
    font-size: 3em;
    margin-top: 1.5em;
  }
}

#basket {
  padding: 10px;
  margin-right: 20px;
  width: 250px;

  hr {
    margin: 6px 0;
  }

  li {
    color: #EDEDED;
    list-style: none;
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
    position: relative;

    .box {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 3px;

      color: #000000;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
    }

    .box-1 {
      left: 90px;
    }

    .box-2 {
      left: 110px;
    }

    .box-3 {
      left: 130px;
    }

    .box-4 {
      left: 150px;
    }

    .box-5 {
      left: 170px;
    }
  }

  .front {
    background-color: gold;
  }

  .back {
    background-color: plum;
  }

  .database {
    background-color: lightsalmon;
  }

  .test {
    background-color: cornflowerblue;
  }

  .hipster {
    background-color: yellowgreen;
  }
}
